
@{
    ViewBag.Title = "Billing";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="~/Content/chosen.css" rel="stylesheet">

<link href="~/Content/toastr.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />
@*For Export File*@
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@*For Popup*@
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@*For Export File*@
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
@*For Export File*@
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
@*For Export File*@
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
@*For Export File*@
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
@*For Export File*@
<script src="~/Scripts/datetimepicker/jqueryui.js"></script>
<script src="~/Scripts/jquery.total.js"></script>
<script src="~/Scripts/jquery.documentvalidate.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/udjs/CSDInvoice.js?dt=16102020"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<style type="text/css">
    .dataTables_scroll {
        overflow: auto;
    }
</style>

<style>
    

    .buttons-excel {
        padding: 6px 12px !important;
        background: lightblue !important;
        border-color: #2196F3 !important;
    }

    .dataTables_paginate a {
        padding: 6px 12px !important;
        background: lightblue !important;
        border-color: #2196F3 !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: #2196F3;
        color: white !important; /*change the hover text color*/
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        background: #2196F3;
        color: white !important; /*below block of css for change style when active*/
    }

    th {
        white-space: nowrap;
        font-size: 13px;
    }

    td {
        white-space: nowrap;
        font-size: 13px;
    }
</style>

<style>
    div.scroll {
        margin: 5px;
        padding: 5px;
        height: 300px;
        overflow: auto;
    }
</style>

<style>
    div.scrollBill {
        margin: 5px;
        padding: 5px;
        height: 500px;
        overflow: auto;
    }
</style>

<style>
    div.scrollPopup {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: -18px;
        margin-right: -20px;
        padding-top: 4px;
        padding-right: 2px;
        padding-left: 2px;
        padding-bottom: 4px;
        height: 200px;
        overflow: auto;
    }
</style>

<style>
    .wrapper-popup-div {
        line-height: 141px;
    }
</style>

<style>
    .action-icons {
        height: 20px;
        width: 20px;
        display: inline-block;
        background: #fff url(../images/sprite-icons/icons-color.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        text-indent: -999999px;
        border: #ccc 1px solid;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin-left: 3px;
    }

    .c-delete {
        background-position: -541px -41px;
    }
</style>




<div class="container-fluid">
    <div class="row">





        <div class="top-menu">
            <nav class="navbar navbar-default">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Appointment <span class="sr-only">(current)</span> <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                        <li><a href="#">Mail <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                        <li><a href="#">Patient Report <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                        <li><a href="#">Re-print <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                        <li><a href="#">Registration <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                        <li><a href="#">Reports</a></li>

                </div><!-- /.navbar-collapse -->

            </nav>
        </div>
    </div>


    <div class="row color2 centers">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form>
                <div class="form-group ">
                    <label for="exampleFormControlSelect1" class="col-lg-1 col-md-1 col-sm-2 col-xs-2 lang">Centers </label>
                    <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
                        <select class="selectpicker form-control" data-width="fit">
                            <option>ITDOSE, Siliguri</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="labno">
                Last Lab Numbar : <span>12345678910</span>
            </div>
        </div>

    </div>

    <div class="row  search-option">
        <div class="col-md-12 title">
            <h4>Search Option</h4>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <form>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group row ">
                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Mobile No: </label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control " id="" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group row ">
                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">UHID:</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control " id="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group row ">
                            <label for="exampleFormControlInput1" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">Appointment Id:</label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12"><input type="text" class="form-control "></div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="button">
                <a class="btn btn-primary" href="#" role="button">More Filter</a>
                <a class="btn btn-primary" href="#" role="button">Mobile App</a>
                <a class="btn btn-primary" href="#" role="button">Appointment</a>
                <a class="btn btn-primary" href="#" role="button">Membership</a>
            </div>
        </div>

    </div>

    <div class="row  patient-demo">
        <div class="col-md-12 title">
            <h4>Patient Demographic</h4>
        </div>
        <div class="col-lg-12">
            <form>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">Patient Name: </label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pd-0">

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pd-0">
                                    <select class="form-control ">
                                        <option>Mr.</option>
                                        <option>2</option>

                                    </select>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pd-0">
                                    <input type="text" class="form-control " id="" placeholder="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">Age: </label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pd-0">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pd-0">
                                    <input type="text" class="form-control" id="" placeholder="">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pd-0">
                                    <input type="text" class="form-control" id="" placeholder="">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pd-0">
                                    <input type="text" class="form-control" id="" placeholder="">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pd-0">
                                    <select class="form-control " id="">
                                        <option>Male</option>
                                        <option>2</option>

                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pd-0">
                                <input type="radio" class="form-check-input" id="exampleCheck1">
                            </div>
                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-4 col-sm-3 col-xs-11 ">
                                Date of Birth:
                            </label>
                            <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 pd-0">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pd-0">
                                    <input type='date' class="form-control" id='datetimepicker4' placeholder="03-Mar-1986" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pd-0">
                                    <input type="text" class="form-control " id="" placeholder="Phone No.">
                                </div>
                            </div>



                        </div>
                    </div>



                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group row ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-2 col-xs-12 ">Email </label>
                            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12 pd-0">
                                <input type='email' class="form-control" placeholder="name@domain.com" />

                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pd-0">Address: </label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pd-0">
                                <textarea class="form-control  " id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">Area: </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 pd-0">
                                <select class="form-control" id="">
                                    <option>Select</option>
                                    <option>2</option>

                                </select>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pd-0">
                                <a class="btn btn-primary " href="#" role="button" data-toggle="modal" data-target="#exampleModal">New</a>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="modal-footer ">
                                    
                                        <button type="button" class="btn btn-secondary margin-top20" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary margin-top20">Save changes</button>
                                 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-2 col-xs-12 ">City: </label>
                            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12 pd-0">
                                <input type='text' class="form-control" id='' placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">State: </label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pd-0">
                                <select class="form-control " id="">
                                    <option>Delhi</option>
                                    <option>2</option>

                                </select>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                        <div class="form-group">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Weight: </label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pd-0">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pd-0">
                                    <input type='text' class="form-control" id='' placeholder="" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pd-0">
                                    <select class="form-control " id="">
                                        <option>Kg</option>
                                        <option>2</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group">

                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">Height: </label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pd-0">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pd-0">
                                    <input type='text' class="form-control" id='' placeholder="" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pd-0">
                                    <select class="form-control " id="">
                                        <option>Cm</option>
                                        <option>2</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group row ">


                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">LMP: </label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 pd-0">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pd-0">
                                    <input type='text' class="form-control" id='' placeholder="" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pd-0">
                                    <input type='text' class="form-control" id='' placeholder="Bloodgroup" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-3 col-sm-2 col-xs-12">Bed No.: </label>
                            <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12 pd-0">
                                <div class="col-lg-8 col-md-7 col-sm-8 col-xs-8 pd-0">
                                    <input type='text' class="form-control" id='' placeholder="" />
                                </div>
                                <div class="col-lg-4 col-md-5 col-sm-4 col-xs-4 pd-0">
                                    <input class="form-check-input " style="vertical-align: middle;" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        VIP/Urge
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </form>

        </div>


    </div>

    <div class="row  patient-demo">
        <div class="col-md-12 title">
            <h4>Reffered By</h4>
        </div>
        <div class="col-lg-12">
            <form>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ">Panel: </label>
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 pd-0">


                                <select class="form-control ">
                                    <option>Standard</option>
                                    <option>2</option>

                                </select>



                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-4 col-sm-2 col-xs-12 ">Refer Doctor:  </label>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-xs-10 pd-0">
                                <div class="col-lg-9 col-md-8 col-sm-11 col-xs-11 pd-0">

                                    <input type="text" class="form-control" id="" placeholder="">


                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pd-0">
                                    <a class="btn btn-primary " href="#" role="button" data-toggle="modal" data-target="#exampleModal2">New</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group  ">
                                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">xxxxxx</label>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <input type="text" class="form-control " id="">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer ">

                                    <button type="button" class="btn btn-secondary margin-top20" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary margin-top20">Save changes</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-11 ">
                                Ref By Lab/Doc:
                            </label>
                            <div class="col-lg-8 col-md-7 col-sm-9 col-xs-12 pd-0">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pd-0">
                                    <select class="form-control" id="">
                                        <option>Select</option>
                                        <option>2</option>

                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pd-0">
                                    <select class="form-control" id="">
                                        <option>Select</option>
                                        <option>2</option>

                                    </select>
                                </div>
                            </div>



                        </div>
                    </div>



                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group row ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-2 col-xs-12 ">Ref By Hospital: </label>
                            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 pd-0">
                                <input type='text' class="form-control" placeholder="" />

                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-12 pd-0">Collection Boy:</label>
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 pd-0">
                                <select class="form-control" id="">
                                    <option>Select</option>
                                    <option>2</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-4 col-sm-2 col-xs-12 ">Delivery Boy: </label>
                            <div class="col-lg-9 col-md-8 col-sm-10 col-xs-12 pd-0">
                                <select class="form-control" id="">
                                    <option>Select</option>
                                    <option>2</option>

                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ">Ref By Other: </label>
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 pd-0">
                                <input type='text' class="form-control" id='' placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-2 col-xs-12">Visit Type: </label>
                            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 pd-0">
                                <select class="form-control " id="">
                                    <option>Select</option>
                                    <option>2</option>

                                </select>
                            </div>



                        </div>
                    </div>
                </div>

            </form>

        </div>


    </div>

    <div class="row  patient-demo">
        <div class="col-md-12 title">
            <h4>Other Info</h4>
        </div>
        <div class="col-lg-12">
            <form>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ">Comments: </label>
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 pd-0">

                                <textarea class="form-control  " id="exampleFormControlTextarea1" rows="3"></textarea>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-3 col-md-4 col-sm-2 col-xs-12 ">Remarks: </label>
                            <div class="col-lg-9 col-md-8 col-sm-10 col-xs-10 pd-0">
                                <textarea class="form-control  " id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-11 ">
                                Dispatch Type:
                            </label>
                            <div class="col-lg-8 col-md-7 col-sm-9 col-xs-12 pd-0">

                                <select class="form-control" id="">
                                    <option>Select</option>
                                    <option>2</option>

                                </select>


                            </div>



                        </div>
                    </div>



                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group row ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-2 col-xs-12 ">Document: </label>
                            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 pd-0">
                                <input type="file" class="form-control" id="customFile">

                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">:Home Delivery</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">:Intimate to Doctor</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">:Intimate to Patient</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">:Intimate to NH/Panel</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        <div class="form-group ">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">:Document Pending</label>
                            </div>
                        </div>
                    </div>




                </div>

            </form>

        </div>


    </div>

    <div class="row  patient-demo">
        <div class="col-md-12 title">
            <h4>Investigation</h4>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                By Code
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                By First Name
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                InBetween
                            </label>
                        </div>
                    </div>
                    <div class="col-md-11 ">
                        <input type='text' class="form-control" placeholder="" />
                    </div>
                    <div class="col-md-12">
                        <div class="col-lg-11  col-md-11 col-sm-11 col-xs-11 pd-0">
                            <div class="form-group">

                                <select multiple class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-lg-1  col-md-1 col-sm-1 col-xs-1 pd-0 margin-top20">
                            <div class="btn-group" role="group" >
                                <a href="#" class="btn btn-primary"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-md-12 pd-0">
                    <h6 class="mtb3"><strong>Totle test </strong><span class="badge btn-primary">0</span></h6>
                </div>
                <div class="col-md-12 pd-0 table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Disc.</th>
                                <th scope="col">Amt.</th>
                                <th scope="col">View</th>
                                <th scope="col"> <input class="form-check-input" type="checkbox" id="">Urgent</th>
                                <th scope="col">Delivery Date</th>
                                <th scope="col">Standard Rate</th>
                                <th scope="col">Disc By</th>
                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                </div>
            <div class="col-lg-4">
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 pd-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Disc Type Wise
                        </label>
                    </div>
                </div>
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 pd-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Employee Wise
                        </label>
                    </div>
                </div>

                <div class="col-md-12 pd-0">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pd-0">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ">Disc Amt: </label>
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 pd-0">


                                <input type="text" class="form-control" placeholder="">



                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pd-0">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ">Disc Per: </label>
                            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-11 pd-0">

                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pd-0">
                                <span class="badge btn-primary">0</span>
                            </div>
                            </div>
                        </div>

                    <div class="col-md-12 pd-0">
                        <div class="form-group  ">

                            <label for="exampleFormControlInput1" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">Disc Type </label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pd-0">


                                <select class="form-control" id="">
                                    <option>Select</option>
                                    <option>2</option>

                                </select>



                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pd-0">
                        <div class="col-md-8 pd-0">
                            <div class="form-group  ">

                                <label for="exampleFormControlInput1" class="col-lg-4 col-md-4 col-sm-3 col-xs-12 ">Coll. Charge: </label>
                                <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 pd-0">


                                    <input type="text" class="form-control" placeholder="">



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 pd-0">
                        <div class="col-md-8 pd-0">
                            <div class="form-group  ">

                                <label for="exampleFormControlInput1" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Add. Charge/ Adjustment: </label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pd-0">


                                    <input type="text" class="form-control" placeholder="">



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <div class="col-md-12 text-center margin-top20">
        <a class="btn btn-primary" href="#" role="button">Submit</a>
        <a class="btn btn-info" href="#" role="button">Clear</a>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker();
    });
</script>
